In [16]:
import pandas as pd
import numpy as np

In [3]:
# Creating a DataFrame
sales = pd.DataFrame({
    "Sales_id":[101,102,103,104,105,106,107,108,109,110],
    "Product_name": ["Pen","Pencil","Pen","Pencil","laptop","mobile","laptop","mobile","Pen","Pencil"],
    "Product_price":[10,15,10,15,100,np.nan,np.nan,150,10,15],
    "qty":[1,2,3,4,5,6,7,8,9,10]
})

NameError: name 'pd' is not defined

In [4]:
# For adding the Total Amount column in by multiplying the product price by quantity
sales["total_amount"]= sales["Product_price"] * sales["qty"]

NameError: name 'sales' is not defined

In [5]:
# For grouping on the basis of product name with the sum of all the total amount
sum = sales.groupby("Product_name") ["total_amount"].sum()

NameError: name 'sales' is not defined

In [6]:
# For viewing the null values in all the rows and colum
sales.isnull().sum()

Sales_id         0
Product_name     0
Product_price    2
qty              0
total_amount     2
dtype: int64

In [6]:
#To fill the missing values in Product_price column : fillna, replace, interpolate, dropna, ffill, bfill, method, mean
# I method
sales["Product_price"]=sales["Product_price"].fillna(sales["Product_price"].mean())

NameError: name 'sales' is not defined

In [8]:
# Using another method to fill missing the values in total_amount
# II method
sales["Product_price"]=sales["Product_price"].fillna(method="ffill")
sales["qty"]=sales["qty"].fillna(5)
sales["total_amount"]=sales["qty"]*sales["Product_price"]

C:\Users\sharm\AppData\Local\Temp\ipykernel_7788\3197533656.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sales["Product_price"]=sales["Product_price"].fillna(method="ffill")

In [7]:
# For getting the datatypes of column 
sales.dtypes

NameError: name 'sales' is not defined

In [8]:
# For changing the datatype of columns
sales["Sales_id"] = sales["Sales_id"].astype("object")

NameError: name 'sales' is not defined

In [9]:
# With the help of pd.to_numeric
sales["Sales_id"]=pd.to_numeric(sales["Sales_id"],errors="coerce")

NameError: name 'pd' is not defined

In [10]:
# For grouping the product name with total amount using Groupby function
a = sales.groupby("Product_name")["total_amount"].sum()
sales["Sales_id"] = sales["Sales_id"].astype("object")
a=pd.DataFrame(a.reset_index())   #To convert series to dataframe and reset index to make it as column

NameError: name 'sales' is not defined

In [11]:
# If you want another aggregation function in the same Groupby function
b = sales.groupby("Product_name").agg({"total_amount":["sum","mean","max","min","count","std","var","median"]})
b = pd.DataFrame(b.reset_index())
b.columns = ["Product_name","total_amount_sum","mean","max","min","count","std","var","median"]

NameError: name 'sales' is not defined

In [9]:
# pivot table
#sales.pivot_table
a = sales.pivot_table(index="Product_name", values="total_amount", aggfunc=["sum","mean","max","min","count"]).reset_index()
a

NameError: name 'sales' is not defined