In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df =  pd.read_csv('Orders.csv')
df1 = pd.read_csv('Payments.csv')
df2 = pd.read_csv('Products.csv')
df3 = pd.read_csv('Shippers.csv'  , encoding='latin1')
df4 = pd.read_csv('Suppliers.csv')
df5 = pd.read_csv('Category.csv')
df6 = pd.read_csv('Customers.csv', encoding='latin1')
df7 = pd.read_csv('OrderDetails.csv')

In [4]:
df.dtypes

OrderID                 int64
CustomerID              int64
PaymentID               int64
OrderDate              object
ShipperID               int64
ShipDate               object
DeliveryDate           object
Total_order_amount    float64
dtype: object

In [5]:
df1.dtypes

PaymentID       int64
PaymentType    object
Allowed        object
dtype: object

In [6]:
df3.dtypes

ShipperID       int64
CompanyName    object
Phone           int64
dtype: object

In [7]:
df2.dtypes

ProductID        int64
Product         object
Category_ID      int64
Sub_Category    object
Brand           object
Sale_Price       int64
Market_Price     int64
Type            object
Rating           int64
dtype: object

In [8]:
df4.dtypes

SupplierID      int64
CompanyName    object
City           object
State          object
PostalCode      int64
Country        object
Phone           int64
Email          object
dtype: object

In [9]:
df5.dtypes

CategoryID       int64
CategoryName    object
Active          object
dtype: object

In [10]:
df6.dtypes

CustomerID      int64
FirstName      object
LastName       object
City           object
State          object
Country        object
PostalCode      int64
Phone           int64
Email          object
DateEntered    object
dtype: object

In [11]:
df7.dtypes

OrderDetailID    int64
OrderID          int64
ProductID        int64
Quantity         int64
SupplierID       int64
dtype: object

In [12]:
df8= pd.merge(df, df3, on = 'ShipperID')

In [13]:
df7.head()

   OrderDetailID  OrderID  ProductID  Quantity  SupplierID
0              1  7655500      14955         2           3
1              2  7655500      19946         4           2
2              3  7655500       6299        18           2
3              4  7655500      12711         9           4
4              5  7655500      12743         1           3