In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns",None)

In [2]:
patient=pd.read_csv("D:\data visualisationsem2.py\patientDetails\patients.csv")
payers=pd.read_csv("D:\data visualisationsem2.py\patientDetails\payers.csv")
procedures=pd.read_csv("D:\data visualisationsem2.py\patientDetails\procedures.csv")
encounters=pd.read_csv("D:\data visualisationsem2.py\patientDetails\encounters.csv")
organizations=pd.read_csv("D:\data visualisationsem2.py\patientDetails\organizations.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\sharm\AppData\Local\Temp\ipykernel_1780\1132412000.py:1: SyntaxWarning: invalid escape sequence '\d'
  patient=pd.read_csv("D:\data visualisationsem2.py\patientDetails\patients.csv")
C:\Users\sharm\AppData\Local\Temp\ipykernel_1780\1132412000.py:2: SyntaxWarning: invalid escape sequence '\d'
  payers=pd.read_csv("D:\data visualisationsem2.py\patientDetails\payers.csv")
C:\Users\sharm\AppData\Local\Temp\ipykernel_1780\1132412000.py:3: SyntaxWarning: invalid escape sequence '\d'
  procedures=pd.read_csv("D:\data visualisationsem2.py\patientDetails\procedures.csv")
C:\Users\sharm\AppData\Local\Temp\ipykernel_1780\1132412000.py:4: SyntaxWarning: invalid escape sequence '\d'
  encounters=pd.read_csv("D:\data visualisationsem2.py\patientDetails\encounters.csv")
C:\Users\sharm\AppData\Local\Temp\ipykernel_1780\1132412000.py:5: SyntaxWarning: invalid escape sequence '\d'
  organizations=pd.read_csv("D:\data visualisationsem2.py\patientDetails\organizations.csv")

In [3]:
patient.head(2)

,Id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503
1,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940-02-19,NaN,Mr.,Zane918,Hodkiewicz467,NaN,NaN,M,white,nonhispanic,M,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162

In [4]:
payers.head(2)

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227

In [5]:
procedures.head(2)

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,32c84703-2481-49cd-d571-3899d5820253,265764009,Renal dialysis (procedure),903,NaN,NaN
1,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,c98059da-320a-c0a6-fced-c8815f3e3f39,76601001,Intramuscular injection,2477,NaN,NaN

In [6]:
encounters.head(2)

,Id,START,STOP,PATIENT,ORGANIZATION,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,32c84703-2481-49cd-d571-3899d5820253,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,ambulatory,185347001,Encounter for problem (procedure),85.55,1018.02,0.0,NaN,NaN
1,c98059da-320a-c0a6-fced-c8815f3e3f39,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,outpatient,308335008,Patient encounter procedure,142.58,2619.36,0.0,NaN,NaN

In [7]:
#organizations.head()
organizations.rename(columns={"Id":"organization_id"},inplace=True)
organizations.head()

,organization_id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON
0,d78e84ec-30aa-3bba-a33a-f29a3a454662,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187

In [8]:
encounters.dtypes

Id                      object
START                   object
STOP                    object
PATIENT                 object
ORGANIZATION            object
PAYER                   object
ENCOUNTERCLASS          object
CODE                     int64
DESCRIPTION             object
BASE_ENCOUNTER_COST    float64
TOTAL_CLAIM_COST       float64
PAYER_COVERAGE         float64
REASONCODE             float64
REASONDESCRIPTION       object
dtype: object

In [9]:
patient.dtypes

Id             object
BIRTHDATE      object
DEATHDATE      object
PREFIX         object
FIRST          object
LAST           object
SUFFIX         object
MAIDEN         object
MARITAL        object
RACE           object
ETHNICITY      object
GENDER         object
BIRTHPLACE     object
ADDRESS        object
CITY           object
STATE          object
COUNTY         object
ZIP           float64
LAT           float64
LON           float64
dtype: object

In [10]:
patient.rename(columns={"Id":"patient_id"},inplace=True)
patient.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503
1,6e5ae27c-8038-7988-e2c0-25a103f01bfa,1940-02-19,NaN,Mr.,Zane918,Hodkiewicz467,NaN,NaN,M,white,nonhispanic,M,Brookline Massachusetts US,747 Conn Throughway,Boston,Massachusetts,Suffolk County,2135.0,42.308831,-71.063162

In [11]:
encounters.rename(columns={"PATIENT":"patient_id"},inplace=True)
encounters.head(2)

,Id,START,STOP,patient_id,ORGANIZATION,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,32c84703-2481-49cd-d571-3899d5820253,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,ambulatory,185347001,Encounter for problem (procedure),85.55,1018.02,0.0,NaN,NaN
1,c98059da-320a-c0a6-fced-c8815f3e3f39,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,outpatient,308335008,Patient encounter procedure,142.58,2619.36,0.0,NaN,NaN

In [12]:
main1=pd.merge(patient,encounters,on="patient_id",how="left")
main1.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,Id,START,STOP,ORGANIZATION,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy

In [13]:
payers.rename(columns={"Id":"payers_id"},inplace=True)
payers.head(2)

,payers_id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227

In [14]:
main1.rename(columns={"PAYER":"payers_id"},inplace=True)
main1.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,Id,START,STOP,ORGANIZATION,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy

In [15]:
encounters.rename(columns={"PAYER":"payers_id"},inplace=True)
encounters.head(2)

,Id,START,STOP,patient_id,ORGANIZATION,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,32c84703-2481-49cd-d571-3899d5820253,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,ambulatory,185347001,Encounter for problem (procedure),85.55,1018.02,0.0,NaN,NaN
1,c98059da-320a-c0a6-fced-c8815f3e3f39,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,d78e84ec-30aa-3bba-a33a-f29a3a454662,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,outpatient,308335008,Patient encounter procedure,142.58,2619.36,0.0,NaN,NaN

In [16]:
payers.dtypes

payers_id               object
NAME                    object
ADDRESS                 object
CITY                    object
STATE_HEADQUARTERED     object
ZIP                    float64
PHONE                   object
dtype: object

In [17]:
encounters.dtypes

Id                      object
START                   object
STOP                    object
patient_id              object
ORGANIZATION            object
payers_id               object
ENCOUNTERCLASS          object
CODE                     int64
DESCRIPTION             object
BASE_ENCOUNTER_COST    float64
TOTAL_CLAIM_COST       float64
PAYER_COVERAGE         float64
REASONCODE             float64
REASONDESCRIPTION       object
dtype: object

In [18]:
main2=pd.merge(main1,payers,on="payers_id",how="left")
main2.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS_x,CITY_x,STATE,COUNTY,ZIP_x,LAT,LON,Id,START,STOP,ORGANIZATION,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,NAME,ADDRESS_y,CITY_y,STATE_HEADQUARTERED,ZIP_y,PHONE
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654

In [19]:
main2.rename(columns={"ORGANIZATION":"organization_id"},inplace=True)
main2.head()

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS_x,CITY_x,STATE,COUNTY,ZIP_x,LAT,LON,Id,START,STOP,organization_id,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,NAME,ADDRESS_y,CITY_y,STATE_HEADQUARTERED,ZIP_y,PHONE
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654
2,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,8e33e2c9-2578-3cac-b326-5b90a83de2f8,2013-03-22T22:07:23Z,2013-03-22T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424619006,Prenatal visit,142.58,1653.21,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654
3,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,8181316f-5fcd-693c-e020-3ba970427f9a,2014-12-28T01:07:23Z,2014-12-28T01:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,5059a55e-5d6e-34d1-b6cb-d83d16e57bcf,ambulatory,185345009,Encounter for symptom,85.55,459.31,0.0,10509002.0,Acute bronchitis (disorder),UnitedHealthcare,9800 Healthcare Lane,Minnetonka,MN,55436.0,1-888-545-5205
4,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,864d30bc-9711-c830-bbcc-7f7a6697eda6,2015-04-25T15:07:23Z,2015-04-25T15:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,5059a55e-5d6e-34d1-b6cb-d83d16e57bcf,ambulatory,185345009,Encounter for symptom,85.55,100.47,0.0,43878008.0,Streptococcal sore throat (disorder),UnitedHealthcare,9800 Healthcare Lane,Minnetonka,MN,55436.0,1-888-545-5205

In [20]:
main3=pd.merge(main2,organizations,on="organization_id",how="left")
main3.head()

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS_x,CITY_x,STATE_x,COUNTY,ZIP_x,LAT_x,LON_x,Id,START,STOP,organization_id,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,NAME_x,ADDRESS_y,CITY_y,STATE_HEADQUARTERED,ZIP_y,PHONE,NAME_y,ADDRESS,CITY,STATE_y,ZIP,LAT_y,LON_y
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187
2,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,8e33e2c9-2578-3cac-b326-5b90a83de2f8,2013-03-22T22:07:23Z,2013-03-22T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424619006,Prenatal visit,142.58,1653.21,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187
3,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,8181316f-5fcd-693c-e020-3ba970427f9a,2014-12-28T01:07:23Z,2014-12-28T01:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,5059a55e-5d6e-34d1-b6cb-d83d16e57bcf,ambulatory,185345009,Encounter for symptom,85.55,459.31,0.0,10509002.0,Acute bronchitis (disorder),UnitedHealthcare,9800 Healthcare Lane,Minnetonka,MN,55436.0,1-888-545-5205,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187
4,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,864d30bc-9711-c830-bbcc-7f7a6697eda6,2015-04-25T15:07:23Z,2015-04-25T15:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,5059a55e-5d6e-34d1-b6cb-d83d16e57bcf,ambulatory,185345009,Encounter for symptom,85.55,100.47,0.0,43878008.0,Streptococcal sore throat (disorder),UnitedHealthcare,9800 Healthcare Lane,Minnetonka,MN,55436.0,1-888-545-5205,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187

In [21]:
main3.rename(columns={"Id":"encounter_id"},inplace=True)
main3.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS_x,CITY_x,STATE_x,COUNTY,ZIP_x,LAT_x,LON_x,encounter_id,START,STOP,organization_id,payers_id,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION,NAME_x,ADDRESS_y,CITY_y,STATE_HEADQUARTERED,ZIP_y,PHONE,NAME_y,ADDRESS,CITY,STATE_y,ZIP,LAT_y,LON_y
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,d584671c-8796-c2c6-42c1-44197d20e35e,2013-03-12T22:07:23Z,2013-03-12T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,270427003,Patient-initiated encounter,85.55,8996.56,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187

In [22]:
procedures.rename(columns={"ENCOUNTER":"encounter_id"},inplace=True)
procedures.head(2)

,START,STOP,PATIENT,encounter_id,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,3de74169-7f67-9304-91d4-757e0f3a14d2,32c84703-2481-49cd-d571-3899d5820253,265764009,Renal dialysis (procedure),903,NaN,NaN
1,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,d9ec2e44-32e9-9148-179a-1653348cc4e2,c98059da-320a-c0a6-fced-c8815f3e3f39,76601001,Intramuscular injection,2477,NaN,NaN

In [23]:
procedures.drop("PATIENT",axis=1,inplace=True)
procedures.head(2)

,START,STOP,encounter_id,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2011-01-02T09:26:36Z,2011-01-02T12:58:36Z,32c84703-2481-49cd-d571-3899d5820253,265764009,Renal dialysis (procedure),903,NaN,NaN
1,2011-01-03T05:44:39Z,2011-01-03T06:01:42Z,c98059da-320a-c0a6-fced-c8815f3e3f39,76601001,Intramuscular injection,2477,NaN,NaN

In [24]:
main4=pd.merge(main3,procedures,on="encounter_id",how="left")
main4.head(2)

,patient_id,BIRTHDATE,DEATHDATE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS_x,CITY_x,STATE_x,COUNTY,ZIP_x,LAT_x,LON_x,encounter_id,START_x,STOP_x,organization_id,payers_id,ENCOUNTERCLASS,CODE_x,DESCRIPTION_x,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE_x,REASONDESCRIPTION_x,NAME_x,ADDRESS_y,CITY_y,STATE_HEADQUARTERED,ZIP_y,PHONE,NAME_y,ADDRESS,CITY,STATE_y,ZIP,LAT_y,LON_y,START_y,STOP_y,CODE_y,DESCRIPTION_y,BASE_COST,REASONCODE_y,REASONDESCRIPTION_y
0,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,252160004.0,Standard pregnancy test,4976.0,72892002.0,Normal pregnancy
1,5605b66b-e92d-c16c-1b83-b8bf7040d51f,1977-03-19,NaN,Mrs.,Nikita578,Erdman779,NaN,Leannon79,M,white,nonhispanic,F,Wakefield Massachusetts US,510 Little Station Unit 69,Quincy,Massachusetts,Norfolk County,2186.0,42.290937,-70.975503,eed7bcd4-a8b6-41a7-bce6-eee7e672a7dc,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,d78e84ec-30aa-3bba-a33a-f29a3a454662,047f6ec3-6215-35eb-9608-f9dda363a44c,ambulatory,424441002,Prenatal initial visit,142.58,17553.12,0.0,72892002.0,Normal pregnancy,Cigna Health,900 Cottage Grove Rd,Bloomfield,CT,6002.0,1-800-997-1654,MASSACHUSETTS GENERAL HOSPITAL,55 FRUIT STREET,BOSTON,MA,2114,42.362813,-71.069187,2013-03-02T22:07:23Z,2013-03-02T22:22:23Z,169230002.0,Ultrasound scan for fetal viability,12434.0,72892002.0,Normal pregnancy

In [25]:
main4.isnull().sum()

patient_id                 0
BIRTHDATE                  0
DEATHDATE              49200
PREFIX                     0
FIRST                      0
LAST                       0
SUFFIX                 59636
MAIDEN                 35314
MARITAL                   17
RACE                       0
ETHNICITY                  0
GENDER                     0
BIRTHPLACE                 0
ADDRESS_x                  0
CITY_x                     0
STATE_x                    0
COUNTY                     0
ZIP_x                   7479
LAT_x                      0
LON_x                      0
encounter_id               0
START_x                    0
STOP_x                     0
organization_id            0
payers_id                  0
ENCOUNTERCLASS             0
CODE_x                     0
DESCRIPTION_x              0
BASE_ENCOUNTER_COST        0
TOTAL_CLAIM_COST           0
PAYER_COVERAGE             0
REASONCODE_x           42251
REASONDESCRIPTION_x    42251
NAME_x                     0
ADDRESS_y              18098
CITY_y                 18098
STATE_HEADQUARTERED    18098
ZIP_y                  18098
PHONE                  18098
NAME_y                     0
ADDRESS                    0
CITY                       0
STATE_y                    0
ZIP                        0
LAT_y                      0
LON_y                      0
START_y                13221
STOP_y                 13221
CODE_y                 13221
DESCRIPTION_y          13221
BASE_COST              13221
REASONCODE_y           50166
REASONDESCRIPTION_y    50166
dtype: int64

In [ ]:
main4.drop_duplicates

NameError: name 'df' is not defined

In [ ]:
# plotting kde
sms.kdeplot(data["Followers"],
            shades=True,
            )