In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating a DataFrame
sales = pd.DataFrame({
    "Sales_id":[101,102,103,104,105,106,107,108,109,110],
    "Product_name": ["Pen","Pencil","Pen","Pencil","laptop","mobile","laptop","mobile","Pen","Pencil"],
    "Product_price":[10,15,10,15,100,np.nan,np.nan,150,10,15],
    "qty":[1,2,3,4,5,6,7,8,9,10]
})

In [3]:
# For adding the Total Amount column in by multiplying the product price by quantity
sales["total_amount"]= sales["Product_price"] * sales["qty"]

In [4]:
# For grouping on the basis of product name with the sum of all the total amount
sum = sales.groupby("Product_name") ["total_amount"].sum()

In [5]:
# For viewing the null values in all the rows and colum
sales.isnull().sum()

Sales_id         0
Product_name     0
Product_price    2
qty              0
total_amount     2
dtype: int64

In [6]:
#To fill the missing values in Product_price column : fillna, replace, interpolate, dropna, ffill, bfill, method, mean
# I method
sales["Product_price"]=sales["Product_price"].fillna(sales["Product_price"].mean())

In [7]:
# Using another method to fill missing the values in total_amount
# II method
sales["Product_price"]=sales["Product_price"].fillna(method="ffill")
sales["qty"]=sales["qty"].fillna(5)
sales["total_amount"]=sales["qty"]*sales["Product_price"]

C:\Users\MOHIT\AppData\Local\Temp\ipykernel_58516\3197533656.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  sales["Product_price"]=sales["Product_price"].fillna(method="ffill")

In [8]:
# For getting the datatypes of column 
sales.dtypes

Sales_id           int64
Product_name      object
Product_price    float64
qty                int64
total_amount     float64
dtype: object

In [9]:
# For changing the datatype of columns by using astype 
sales["Sales_id"] = sales["Sales_id"].astype("object")

In [10]:
# With the help of pd.to_numeric
sales["Sales_id"]=pd.to_numeric(sales["Sales_id"],errors="coerce")

In [11]:
# For grouping the product name with total amount using Groupby function
a = sales.groupby("Product_name")["total_amount"].sum()
sales["Sales_id"] = sales["Sales_id"].astype("object")
a=pd.DataFrame(a.reset_index())   #To convert series to dataframe and reset index to make it as column

In [12]:
# If you want another aggregation function in the same Groupby function
b = sales.groupby("Product_name").agg({"total_amount":["sum","mean","max","min","count","std","var","median"]})
b = pd.DataFrame(b.reset_index())
b.columns = ["Product_name","total_amount_sum","mean","max","min","count","std","var","median"]

In [13]:
# pivot table
a = sales.pivot_table(index="Product_name", values="total_amount", aggfunc=["sum","mean","max","min","count"]).reset_index()

In [14]:
a

,Product_name,sum,mean,max,min,count
,,total_amount,total_amount,total_amount,total_amount,total_amount
0,Pen,130.000,43.333333,90.0,10.000,3
1,Pencil,240.000,80.000000,150.0,30.000,3
2,laptop,784.375,392.187500,500.0,284.375,2
3,mobile,1443.750,721.875000,1200.0,243.750,2