In [1]:
import pandas as pd

In [ ]:
data = {
    "Name": ['Ram','Shyam','Ghanshyam','Dhanshay','Aditi','Gauri','Jagdish','Raj','Simran'],
    "Age": [23,24,34,34,25,33,26,27,26],
    "Salary": [50000,33000,65000,78000,64000,85000,56000,55000,67000],
    "Performance_Score": [85,90,78,88,95,80,89,89,99]
}